<div data-role="header" data-position="fixed" data-tap-toggle="false" >
        <h1>Normal Favorite</h1>
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        <a href="#Search" data-icon="search" data-iconpos="notext" data-direction="reverse" >Search</a>
    </div><!-- /header -->
<div data-role="footer" data-position="fixed" data-tap-toggle="false">        
    <div data-role="navbar">
        <ul>
            <li><a href="#Home" data-icon="home" box-shadow="none"; data-transition="slideup"  style="background-color: #348AF5"></a></li>
            <li><a href="#page_Favorite" data-icon="star" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #FB494E" ></a></li>
            <li><a href="#page_Notification" data-icon="mail" box-shadow="none"; 
                    data-transition="slidedown" style="background-color: #5CD830" ></a></li>
            <li><a href="#page_User" data-icon="user" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #F9D42F"></a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
