<!-- Page Header -->
<div data-role="header" data-position="fixed" data-position="inline" style="background-color: #348AF5" data-tap-toggle="false" >
	<a href="#nav-panel" data-icon="bars" data-iconpos="notext"  style="background-color: #348AF5"></a>

	<div class="ui-grid-b ui-btn-right">
		<a href="#Side-search"  data-icon="search" data-iconpos="notext" data-role="button" data-inline="true" style="background-color: #348AF5"></a>
		<a href="#"  data-icon="gear" data-iconpos="notext" data-role="button" data-inline="true" style="background-color: #348AF5" ></a>
	</div>

	<h3>Re-Pay You</h3>

</div>

<!-- Page Content -->
<div data-role="content" data-theme="b" style="background: url(images/hom.jpg); height : 100% ; background-repeat: repeat-x; background-attachment: fixed;">  
	<div class="testmonials">
        <div class="container">
        <!-- header -->  
        <!-- start content_slider -->
			<div id="owl-demo" class="owl-carousel" align="center" style=" top: 50px;">
	            <div class="item">
	                <img src="images/banner/1.png" title="name" />
	            </div>
	            <div class="item">
	                <img src="images/banner/2.png" title="name" />
	            </div>
	            <div class="item">
	                <img src="images/banner/3.png" title="name" />
	            </div>
          	</div>
        </div>
    </div>
    <div class="testmonials">
        <div class="container">
        	<div id="owl-demo1" class="owl-carousel" style="text-align:center;">
                  <div class="item">
                    <img src="images/banner/4.png" title="name" />
                  </div>
                  <div class="item">
                    <img src="images/banner/5.png" title="name" />
                  </div>
                  <div class="item">
                    <img src="images/banner/6.png" title="name" />
                  </div>
			</div>
	    </div>
	</div>
    <div class="testmonials">
        <div class="container">
                <div id="owl-demo2" class="owl-carousel" align="center">
                  <div class="item">
                    <img src="images/banner/7.png" title="name" />
                  </div>
                  <div class="item">
                    <img src="images/banner/8.png" title="name" />
                  </div>
                  <div class="item">
                    <img src="images/banner/9.png" title="name" />
                  </div>        <!--//sreen-gallery-cursual---->
        	</div>
      	</div>
     </div>
</div>
    

<!-- Page Footer -->    
<div data-role="footer" data-position="fixed" data-tap-toggle="false">        
    <div data-role="navbar">
        <ul>
            <li><a href="#Home" data-icon="home" box-shadow="none"; data-transition="slideup"  style="background-color: #348AF5"></a></li>
            <li><a href="#page_Favorite" data-icon="star" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #FB494E" ></a></li>
            <li><a href="#page_Notification" data-icon="mail" box-shadow="none"; 
                    data-transition="slidedown" style="background-color: #5CD830" ></a></li>
            <li><a href="#page_User" data-icon="user" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #F9D42F"></a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->

 <div data-role="panel" data-position="left" data-position-fixed="true" data-display="overlay"   id="nav-panel" style="background-color : transparent; display: block; visibility: visible; top: 40px;" >
        <ul data-role="listview"  data-theme="b" style="background: url(images/b-2.jpg) ;">
                <li data-icon="carat-r"><a href="#Dynamic" data-transition="turn"  style="background-color : transparent;">Recharge</a></li>
                <li  data-icon="carat-r"><a href="#" data-transition="flow"  style="background-color : transparent;">Electronics</a></li>
                 <li  data-icon="carat-r"><a href="#" data-transition="flow"  style="background-color : transparent;" >Travel & Stay</a></li>
                <li  data-icon="carat-r"><a href="#" data-transition="flow"  style="background-color : transparent;">Fashion</a></li>
                <li  data-icon="carat-r"><a href="#" data-transition="flow"  style="background-color : transparent;">Food</a></li>
                 <li  data-icon="carat-r"><a href="#" data-transition="flow"   style="background-color : transparent;">Sports & Fitness</a></li>
                <li  data-icon="carat-r"><a href="#" data-transition="flow"  style="background-color : transparent;" >Health & Nutrition</a></li>
                <li  data-icon="carat-r"><a href="#" data-transition="flow"  style="background-color : transparent;">miscellaneous</a></li>
        </ul>
        </div>
        <div data-role="panel" data-position="right" data-position-fixed="true" data-display="overlay" data-theme="a" id="Side-search" style="background: url(images/b-2.jpg);display: block; visibility: visible; top: 40px;bottom: 40px;">
<div data-role="fieldcontain" data-position="fixed"  >
 <form class="ui-filterable" >
 <input id="autocomplete-input" data-type="search" placeholder="Search Company..">
 </form>
        <ul data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#autocomplete-input" data-inset="true" data-theme="b">
<li><a href="#"  style="background-color : transparent;">Paytm</a></li>
<li><a href="#" style="background-color : transparent;">Dominos</a></li>
<li><a href="#" style="background-color : transparent;">Foodpanda</a></li>
<li><a href="#"  style="background-color : transparent;">Shopclues</a></li>
<li><a href="#" style="background-color : transparent;">Jabong</a></li>
<li><a href="#" style="background-color : transparent;">Flipkart</a></li>
<li><a href="#" style="background-color : transparent;">Amazon</a></li>
<li><a href="#" style="background-color : transparent;">Lenskart</a></li>
<li><a href="#" style="background-color : transparent;">Printvenue</a></li>
<li><a href="#" style="background-color : transparent;">Makemytrip</a></li>
<li><a href="#" style="background-color : transparent;">Pepperfry</a></li>
<li><a href="#" style="background-color : transparent;">Ebay</a></li>
<li><a href="#" style="background-color : transparent;">Myntra</a></li>
<li><a href="#" style="background-color : transparent;">Freecharge</a></li>
<li><a href="#" style="background-color : transparent;">Kfc</a></li>
<li><a href="#" style="background-color : transparent;">Zotezo</a></li>
<li><a href="#" style="background-color : transparent;">Uber</a></li>
<li><a href="#" style="background-color : transparent;">Peppertap</a></li>
<li><a href="#" style="background-color : transparent;">Zivame</a></li>
<li><a href="#" style="background-color : transparent;">Healthkart</a></li>
<li><a href="#" style="background-color : transparent;">Shop Cj</a></li>
<li><a href="#" style="background-color : transparent;">Goibibo</a></li>
<li><a href="#" style="background-color : transparent;">Oyo Rooms</a></li>
<li><a href="#" style="background-color : transparent;">Bata</a></li>
<li><a href="#" style="background-color : transparent;">Nike</a></li>
<li><a href="#" style="background-color : transparent;">Adidas</a></li>
<li><a href="#" style="background-color : transparent;">Woodland</a></li>
<li><a href="#" style="background-color : transparent;">Valentino</a></li>
<li><a href="#" style="background-color : transparent;">Converse</a></li>
<li><a href="#" style="background-color : transparent;">Lotto</a></li>
<li><a href="#" style="background-color : transparent;">Redtape</a></li>
<li><a href="#" style="background-color : transparent;">Puma</a></li>
<li><a href="#" style="background-color : transparent;">Fila</a></li>
<li><a href="#" style="background-color : transparent;">Vans</a></li>
<li><a href="#" style="background-color : transparent;">Adidas Orignals</a></li>
<li><a href="#" style="background-color : transparent;">Allen Solly</a></li>
<li><a href="#" style="background-color : transparent;">United Colors Of Bentton</a></li>
<li><a href="#" style="background-color : transparent;">American Swarn</a></li>
<li><a href="#" style="background-color : transparent;">Arrow</a></li>
<li><a href="#" style="background-color : transparent;">Being Human</a></li>
<li><a href="#" style="background-color : transparent;">Blackberrys</a></li>
<li><a href="#" style="background-color : transparent;">Calvin Klein</a></li>
<li><a href="#" style="background-color : transparent;">Cat</a></li>
<li><a href="#" style="background-color : transparent;">Duke</a></li>
<li><a href="#" style="background-color : transparent;">Ferrari</a></li>
<li><a href="#" style="background-color : transparent;">Flying machine</a></li>
<li><a href="#" style="background-color : transparent;">Franco Leone</a></li>
<li><a href="#" style="background-color : transparent;">Gas</a></li>
<li><a href="#" style="background-color : transparent;">Guess</a></li>
<li><a href="#" style="background-color : transparent;">Harley Davidson</a></li>
<li><a href="#" style="background-color : transparent;">HRX</a></li>
<li><a href="#" style="background-color : transparent;">Indian Terrain</a></li>
<li><a href="#" style="background-color : transparent;">John Players</a></li>
<li><a href="#" style="background-color : transparent;">Killer</a></li>
<li><a href="#" style="background-color : transparent;">Lee</a></li>
<li><a href="#" style="background-color : transparent;">Lee Copper</a></li>
<li><a href="#" style="background-color : transparent;">Levis</a></li>
<li><a href="#" style="background-color : transparent;">Monte Carlo</a></li>
<li><a href="#" style="background-color : transparent;">Mufti</a></li>
<li><a href="#" style="background-color : transparent;">Numero Uno</a></li>
<li><a href="#" style="background-color : transparent;">Park Avenue</a></li>
<li><a href="#" style="background-color : transparent;">Prax</a></li>
<li><a href="#" style="background-color : transparent;">Pepe Jeans</a></li>
<li><a href="#" style="background-color : transparent;">Peter England</a></li>
<li><a href="#" style="background-color : transparent;">Play Boy</a></li>
<li><a href="#" style="background-color : transparent;">Reebok</a></li>
<li><a href="#" style="background-color : transparent;">Spykar</a></li>
<li><a href="#" style="background-color : transparent;">Tommy Hilfiger</a></li>
<li><a href="#" style="background-color : transparent;">U.S. Polo</a></li>
<li><a href="#" style="background-color : transparent;">Van Heusen</a></li>
<li><a href="#" style="background-color : transparent;">Wildcraft</a></li>
<li><a href="#" style="background-color : transparent;">Wrangler</a></li>
<li><a href="#" style="background-color : transparent;">Yepme</a></li>


</ul></div>
        </div><!-- /Search -->
