<div data-role="header" data-position="fixed" style="background-color: #FB494E" data-tap-toggle="false" >
        <h1>Favorite</h1>
        <a href="#Home" data-icon="carat-l" data-iconpos="notext" data-transition="slide" style="background-color: #FB494E">Back</a>
        <a href="#Search" data-icon="search" data-iconpos="notext" data-direction="reverse" style="background-color: #FB494E">Search</a>
    </div><!-- /header -->



<div data-role="footer" data-position="fixed" data-tap-toggle="false">        
    <div data-role="navbar">
        <ul>
            <li><a href="#Home" data-icon="home" box-shadow="none"; data-transition="slideup"  style="background-color: #348AF5"></a></li>
            <li><a href="#page_Favorite" data-icon="star" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #FB494E" ></a></li>
            <li><a href="#page_Notification" data-icon="mail" box-shadow="none"; 
                    data-transition="slidedown" style="background-color: #5CD830" ></a></li>
            <li><a href="#page_User" data-icon="user" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #F9D42F"></a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->