<div data-role="header" data-position="fixed"  style="background-color: #F9D42F;" data-tap-toggle="false" >
        <h1>User_Name String</h1>
    <a href="#Home" data-icon="carat-l" data-iconpos="notext" data-transition="slide" style="background-color: #F9D42F">Back</a>
</div>// /header
<div data-role="content">  
    <section class="section1">
        <div class="container" >
            <div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="responsive-circle color1-circle">
                        <div class="circle-inner">Credit</div>
                    </div></div></div></div> </div>
    </section>   
</div>
<div data-role="footer" data-position="fixed" data-tap-toggle="false">        
    <div data-role="navbar">
     <ul>
    <li><a href="#" box-shadow="none"; data-transition="slideup">Rate the app</a></li>
   <li><a href="#"  box-shadow="none"; data-transition="slideup">About us</a></li>
   <li><a href="#"  box-shadow="none"; data-transition="slideup">Contact us</a></li>
            </ul>
        <ul>
            <li><a href="#Home" data-icon="home" box-shadow="none"; data-transition="slideup"  style="background-color: #348AF5"></a></li>
            <li><a href="#page_Favorite" data-icon="star" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #FB494E" ></a></li>
            <li><a href="#page_Notification" data-icon="mail" box-shadow="none"; 
                    data-transition="slidedown" style="background-color: #5CD830" ></a></li>
            <li><a href="#page_User" data-icon="user" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #F9D42F"></a></li>
        </ul>
    </div> 
</div>