<div data-role="header" data-position="fixed" style="background-color:#5CD830;" data-tap-toggle="false" >
        <h1>Notification</h1>
    <a href="#Home" data-icon="carat-l" data-iconpos="notext" data-transition="slide" style="background-color:#5CD830;">Back</a>
    <a href="#Search" data-icon="search" data-iconpos="notext" data-direction="reverse" style="background-color:#5CD830;">Search</a>
</div><!-- /header -->
<div data-role="content" data-theme="b"  style="background: url(images/b-2.jpg) ;">
<ul data-role="listview"  >
          <li  data-icon="carat-r">
            <a href="#" data-transition="flow"  style="background-color : transparent; ">
              <img id="Image1" src="image1" width="45" height="45">
              <h1 id="comp_a" style="text-align:center"></h1>
              <p id="desc_a" style="text-align:left"></p>
            </a>
            <p style="text-align:right">
            <span style="float:left">VALID TIll: DATE</span>
            UPDATED ON: date
            </p>
          </li>
          <li  data-icon="carat-r"><a href="#" data-transition="flow"  style="background-color : transparent; "> 
                             <img id="Image2" src="image2" width="45" height="45">
                              <h1 id="comp_b" style="text-align:center"></h1>
                              <p id="desc_b" style="text-align:left"></p></a>
          <p style="text-align:right">
           <span style="float:left">VALID TIll: DATE</span>
           UPDATED ON: date
          </p></li>
          <li  data-icon="carat-r"><a href="#" data-transition="flow"  style="background-color : transparent; "> <img id="Image3" src="image3" width="45" height="45">
          <h1 id="comp_c" style="text-align:center"></h1>
          <p id="desc_c" style="text-align:left"></p></a>
          <p style="text-align:right">
           <span style="float:left">VALID TIll: DATE</span>
           UPDATED ON: date
          </p></li>

          <li  data-icon="carat-r"><a href="#" data-transition="flow"  style="background-color : transparent; "> <img id="Image4" src="image4" width="45" height="45">
          <h1 id="comp_d" style="text-align:center"></h1>
          <p id="desc_d" style="text-align:left"></p></a>
          <p style="text-align:right">
           <span style="float:left">VALID TIll: DATE</span>
           UPDATED ON: date
          </p></li>
       </ul>
</div>
<div data-role="footer" data-position="fixed" data-tap-toggle="false">        
<div data-role="navbar">
  <ul>
    <li><a onclick="less_notification()" data-icon="carat-l"  style="background-color : transparent;"></a></li>
    <li><a onclick="more_notification()" data-icon="carat-r"  style="background-color : transparent;"></a></li>
   
            </ul>

  <ul>
            <li><a href="#Home" data-icon="home" box-shadow="none"; data-transition="slideup"  style="background-color: #348AF5"></a></li>
            <li><a href="#page_Favorite" data-icon="star" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #FB494E" ></a></li>
            <li><a href="#page_Notification" data-icon="mail" box-shadow="none"; 
                    data-transition="slidedown" style="background-color: #5CD830" ></a></li>
            <li><a href="#page_User" data-icon="user" box-shadow="none"; 
                    data-transition="slideup" style="background-color: #F9D42F"></a></li>
        </ul>
          </div><!-- /navbar -->
</div><!-- /footer -->
